{% extends 'layouts/base.html' %}
{% block title %} {{title|capitalize|title}} {% endblock %}
{% block content %}
{{parent()}}
<div class="panel panel-primary">
<div class="panel-heading">
   <h3 class="panel-title text-center">{{title|upper}}</h3>
</div>
<!-- Table -->
<div class="table-responsive">
   <table class="table table-striped table-bordered table-hover">
      <thead>
         <tr>
            <th>id</th>
            <th>materia</th>
            <th>cupo</th>
            <th>dias</th>
            <th>aula</th>
            <th>hora de inicio</th>
            <th>hora de fin</th>
            <th>fecha de inicio</th>
            <th>fecha de fin</th>
            <th>maestro</th>
         </tr>
      </thead>
      <tbody>
         {% for sec in secs %}
            <tr>
               <th>{{sec.id}}</th>
               <td>{{sec.mate}}</td>
               <td>{{sec.cupo}}</td>
               <td>{{sec.dias}}</td>
               <td>{{sec.aula}}</td>
               <td>{{sec.hra_ini}}</td>
               <td>{{sec.hra_fin}}</td>
               <td>{{sec.f_ini}}</td>
               <td>{{sec.f_fin}}</td>
               <td>{{sec.ap1}} {{sec.ap2}},{{sec.nombre}} ({{sec.maestro}})</td>
            </tr>
         {% endfor %}
      </tbody>
   </table>
</div>
</div>

{% endblock %}
