{% extends 'layouts/base.twig' %}
{% block head %}
		{{parent()}}
		<style>
		.fad [type='submit']{
			margin-top: 1.25em;
			font-size: 1.1em;
		}
		.fad label{
			font-size: 1.25em;
			margin-bottom: .8em;
		}
	</style>
{% endblock %}
{% block title %} {{title|capitalize|title}} {% endblock %}
{% block content %}
	{{parent()}}
	<form action="" class="fad col-sm-12 col-sm-offset-1 col-md-4 col-md-offset-1 text-center" method="post">
		<div class="form-group">
			<label for="sxcod">Buscar por codigo</label>
			<input type="text" name="sxcod" id="sxcod" class="form-control">
			<input type="submit" name="ssxcod" value="Buscar" class="btn btn-success">
		</div>
	</form>
	<form action="" class="fad col-sm-12 col-sm-offset-1 col-md-4 col-md-offset-2 text-center" method="post">
		<div class="form-group">
			<label for="sxem">Buscar por email academico</label>
			<input type="text" name="sxem" id="sxem" class="form-control">
			<input type="submit" name="ssxem" value="Buscar" class="btn btn-success">
		</div>
	</form>
	{% if estudiante %}
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title text-center">{{title|upper}}</h3>
			</div>
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>Codigo</th>
							<th>Apellido paterno</th>
							<th>Apellido materno</th>
							<th>Nombre(s)</th>
							<th>Carrera</th>
							<th>Editar</th>
						</tr>
					</thead>
					<tbody>
							<tr>
								<th>{{estudiante.cod}}</th>
								<td>{{estudiante.ap1}}</td>
								<td>{{estudiante.ap2}}</td>
								<td>{{estudiante.nombre}}</td>
								<td>{{estudiante.carrera}}</td>
								<td class='text-left'><a href="stud_edit.php?cod={{estudiante.id}}" target='_blank'><span class="fa fa-edit fa-lg" data-toggle="tooltip" data-placement="right" title="Editar"></span></a></td>
							</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	{% endif %}
{% endblock %}
{% block scripts %}
{{parent()}}
<script src="../js/tooltip.js"></script>
<script>
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})
</script>
{% endblock %}
