{% extends 'layouts/base.twig' %}
{% block title %} {{title|capitalize|title}} {% endblock %}
{% block content %}
{{parent()}}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title text-center">{{title|upper}}</h3>
	</div>
	<!-- Table -->
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>Codigo</th>
					<th>Apellido paterno</th>
					<th>Apellido materno</th>
					<th>Nombre(s)</th>
					<th>Carrera</th>
					<th>Detalles</th>
				</tr>
			</thead>
			<tbody>
				{% for estudiante in estudiantes %}
					<tr>
						<th>{{estudiante.cod}}</th>
						<td>{{estudiante.ap1}}</td>
						<td>{{estudiante.ap2}}</td>
						<td>{{estudiante.nombre}}</td>
						<td>{{estudiante.carrera}}</td>
						<td><button type="button" class="btn-link" data-toggle="modal" data-target="#myModal" data-togle="tooltip" data-placement="right" title="Ver detalles de alumno"><span class="fa fa-external-link fa-lg"></span></button></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
